#contact-img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/2022.jpg");
    width: 100%;
    height: 25vh;
    background-position: center;
}
	
